{% extends "admin/change_form.html" %}



{% block breadcrumbs %}
        <div class="breadcrumbs">
           <a style="color:purple;font-size:20px;" href="{% url 'admin:index' %}">Home</a>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:orange;font-size:20px;" href="{% url 'admin:app_list' app_label=opts.app_label %}"> {{ opts.app_config.verbose_name }}</a>

          

             {% if has_change_permission %}

                 <a style="color:green;font-size:16px;"  href="">{{ opts.verbose_name_plural|capfirst }}</a>

              {% else %}

                     {{ opts.verbose_name_plural|capfirst }}

              {% endif %}
                  &nbsp;&nbsp;&nbsp;

            {% if add %}
              <span style="color:purple;font-size:15px;">
               Add 

                {{ opts.verbose_name }}</span>

            {% else %}

                     {{ original|truncatewords:"18" }}

            {% endif %}
          </div>
    {% endblock %}


        {% block field_sets %}
            
        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
        {% endblock %}