/* DASHBOARD */

.dashboard .module table th {
    width: 50%;
}

.dashboard .module table td {
    white-space: nowrap;
	padding:20px;
    margin:auto;
    font-size:20px;
}

.dashboard .module table td a {
    display: block;
    padding-right: 2em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 10px;
}

.dashboard #content{
    width:auto;
}
